<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="/layout/head :: head"></div>
  <body>
    <div class="container mt-5">
      <div class="card row col-md-8 offset-md-2">
        <div class="card-header">
          <h3 class="card-title text-center">Register for Buyer</h3>
        </div>
        <div class="card-body">
          <form
            role="form"
            method="post"
            th:action="@{/register/buyer/create}"
            th:object="${registerBuyer}"
          >
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                th:field="*{email}"
              />
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                th:field="*{username}"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                th:field="*{password}"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
